.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/icons/calendar.svg');
    margin-right: .5rem;
}

.experience li .company {
    font-weight: bold;
    margin-bottom: .25rem;
}

.experience li .functions {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.3rem;
}

.experience li .resume, .experience li .responsibilitiesTitle {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.experience li .description{
    margin-bottom: 1.5rem;
    line-height: 1.4rem;
}

.responsibilities span {
    display: block;
    line-height: 1.4rem;
    margin-bottom: .8rem;
    
}
